#state-notification, #save-notification, #request-failure-notification {
  display: none;
  width: 70%;
  margin: 40px auto;
}

#cloud-logged-in {
  display: none;
}
@media all and (display-mode: fullscreen) {
  #emulator {
    width: 100%;
    margin-top: 0px;
    margin-left: 3%;
  }
  #fps-counter {
    display: none;
  }
  canvas {
    height: 80vh !important;
    width: auto !important;
  }
  .navbar:hover {
    opacity: 1.0 !important;
  }
  .navbar:not(:hover) {
    opacity: 0.0 !important;
  }
  body {
    background: #000000;
    height: 100vh !important;
    overflow: none !important;
  }
  #waveform-visualizer {
    display: none !important
  }
}
#palette-header-message {
  margin-bottom: 20px;
}
#color-palettes {
  .palettes-list {
    list-style-type: none;
    .color-palette {
      width: 175px;
      margin-bottom: 10px;
      .palette-circle {
        cursor: pointer;
        float: right;
        margin-left: 20px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        box-shadow: 1px 1px gray;
      }
    }
  }
}
.show {
  display: block;
}
.canvas-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  #game-canvas {
    width: 640px;
    height: 576px;
    margin: 150px auto;
  }
}

#waveform-visualizer {
  width: 683px;
  height: 256px;
  float: right;
  margin-top: 150px;
  margin-right: 80px;
  display: none;
}
.fa-github {
  font-size: 28px;
}

#game-input, #save-input {
  display: none;
}
.save-icon.download {
  color: white;
}
.save-icon.update {
  color: green;
}
.save-icon.delete-save {
  color: red;
}
.save-icon {
  float: right;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
}